

//  vue项目使用scss，需要安装 node-loader 和 sass-loader
// 命令：npm install node-loader --save-dev 和 npm install sass-loader --save-dev
// 运行项目报错原因：sass版本太高，导致webpack编译时出错，此时需要卸载当前版本重新安装低版本
// 卸载sass-loader：npm uninstall sass-loader
// 卸载node-sass ：npm uninstall node-sass
// 安装低版本：npm install sass-loader@7.3.1 --save-dev
// 跟sass-loader7.3.1匹配的node-sass 是: npm install node-sass@4.14.1 --save-dev

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}